body {
    background-color: #FFFEF8;
    padding: 0 40px;
}

main {
    margin: 100px 0;
}
.login {
    width: 30%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login h2 {
    margin: auto;
    font-size: 30px;
    margin-bottom: 30px;
}

.login p {
    font-size: 14px;
}

.login input {
    height: 35px;
    margin: 2px 0 20px 0;
    font-size: 18px;
    box-shadow: 0 4px 14px 0 #00000017;
    border: 0;
}

.login button {
    margin: auto;
    width: 179px;
    height: 36px;
    border-radius: 60px;
    background-color: #1D6154;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    border: 0;
}

.login button:hover {
    background-color: #144b40;
    cursor: pointer;
}


.login a {
    margin: auto;
    color: black;
}