/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1>span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav a {
  text-decoration: inherit;
  color: black;
}

#errorMessage {
  padding-bottom: 10px;
}

li:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

#portfolio a {
  text-decoration: inherit;
  color: black;
  margin: 8px 0 0 20px;
}

.edition {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.edition a {
  color: white;
  text-decoration: inherit;
}

#modal,
#modalAjout {
  width: 70%;
  height: 95%;
  max-width: 630px;
  max-height: 680px;
  border-radius: 10px;
  display: flex;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#modal h3 {
  padding-top: 50px;
  font-size: 26px;
  font-weight: 400;
}

#modalAjout h3 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 30px;
}

#modal button,
.btn-wrapper button {
  margin: 30px;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  background-color: #1d6154;
  color: white;
  font-size: 14px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-wrapper button {
  background: #1D6154;
}

#modal button:hover,
#modalAjout button:hover {
  cursor: pointer;
}

hr {
  width: 70%;
  margin-top: 40px;
}

.modal-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.top-btn {
  width: 95%;
  height: 50px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-btn h3 {
  padding-bottom: 0;
}

.back,
.close {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.form-wrapper {
  width: 100%;
  height: 60%;
}

.content {
  background-color: #e8f1f6;
  border-radius: 3px;
  width: 64%;
  height: 180px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.content i {
  font-size: 5rem;
  color: #b9c5cc;
}

label[for="content"] {
  cursor: pointer;
  color: #306685;
  background-color: #cbd6dc;
  padding: 5px 10px;
  border-radius: 25px;
  transition: all 300ms ease;
}

label[for="content"]:hover {
  background-color: darkgreen;
  color: white;
}

input[type="file"] {
  display: none;
}

.title-content,
.cat-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
  text-align: left;
}

input[type="text"],
select[name="category"] {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  border: none;
  height: 30px;
  outline: none;
}

.title-content input {
  margin-top: 5px;
}

#category {
  margin-top: 5px;
}

.preview-image {
  max-width: 200px;
  max-height: 200px;
}

i.fa-trash-can {
  position: relative;
  top: -90%;
  left: 60%;
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 2px;
}

i.fa-trash-can:hover {
  cursor: pointer;
}

.projetsModif {
  display: flex;
  justify-content: center;
}

.articlePhotos {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 80%;
  height: 70%;
  margin: auto;
  border-bottom: 1px solid black;
  align-content: flex-start;
}

.articlePhotos figure {
  width: 100px;
  height: 120px;
}

.articlePhotos img {
  max-width: 77px;
  padding: 10px 8px;
}

.btnFilter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btnFilter input[type="radio"] {
  display: none;
}

.btnFilter label {
  color: #1d6154;
  background-color: white;
  border-radius: 60px;
  border: 1px solid #1d6154;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 700;
  height: 37px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btnFilter input[type="radio"]:checked+label {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact>* {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}